@{
    ViewBag.Title = "Sahil Lapsiwala";
    ViewBag.Message = "Student of WEB524 in Winter 2019";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>I am a student currentlu enrolled at Seneca college in Computer Programming And Analysis Program and learnig various WEB and Object Oriented Programming langusges
    The purpose of the Web app is to understand the basic concepts of C# and ASP.NET framework.</p>
