@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>I may be reached from one of the following methods </h3>

<address>
    70 The Pond Road <br />
    North York, ON M3J 1V6<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:snlapsiwala@myseneca.ca">snlapsiwala@myseneca.ca</a><br />
    <strong>Marketing:</strong> <a href="mailto:nlapsiwala@myseneca.ca">Marketing@myseneca.ca</a>
</address>