<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/9fc6d161-34f5-4c43-a157-cd0c14180f7b/resourceGroups/WEB524/providers/Microsoft.Web/sites/snlapsiwala19-wa2019a8</ResourceId>
    <ResourceGroup>WEB524</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://snlapsiwala19-wa2019a8.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>snlapsiwala19-wa2019a8.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>snlapsiwala19-wa2019a8</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$snlapsiwala19-wa2019a8</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DataContext" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:snlapsiwala19-ds2019a8.database.windows.net,1433;Initial Catalog=Assign8Store;Persist Security Info=False;User ID=snlapsiwala@snlapsiwala19-ds2019a8;Password=Sus@7848;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:snlapsiwala19-ds2019a8.database.windows.net,1433;Initial Catalog=Assign8Store;Persist Security Info=False;User ID=snlapsiwala@snlapsiwala19-ds2019a8;Password=Sus@7848;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Assignment8.Models.ApplicationDbContext, Web app project template v2" MigrationConfiguration="Assignment8.Migrations.Configuration, Web app project template v2" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DataContext-Web.config Connection String">
      <ParameterValue>Server=tcp:snlapsiwala19-ds2019a8.database.windows.net,1433;Initial Catalog=Assign8Store;Persist Security Info=False;User ID=snlapsiwala@snlapsiwala19-ds2019a8;Password=Sus@7848;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>