@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Assignment 2</h1>
    <p class="lead">
        ASP.NET MVC web app that round-trips data to-and-from a web
        browser.
    </p>
    <p><a href="https://s3.us-east-1.amazonaws.com/learn-us-east-1-prod-fleet01-xythos/5c082fb7a0cdb/8557472?response-content-disposition=inline%3B%20filename%2A%3DUTF-8%27%27Assignment%25202.pdf&response-content-type=application%2Fpdf&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20190130T014000Z&X-Amz-SignedHeaders=host&X-Amz-Expires=21600&X-Amz-Credential=AKIAIBGJ7RCS23L3LEJQ%2F20190130%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Signature=702c61291989216a0809aa2d58d87c46c526886c108ec9e1bec370e295b7884c" target="_blank" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-9">
        <h2>Details Of App</h2> 
        <p>
            This app is built with C# and on ASP.NET framework and is made to understand the concepts of the later technologies.
            This app consists of list of Employees and can get the details of the Employee or create a new entry.
        </p>
       
    </div>
    </div>