@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Assignment5</h1>
    <p class="lead">
        ASP.NET MVC web app that round-trips data to-and-from a web
        browser. It uses LINQ to sort out results and publish it, it can edit an create, edit or delete an entry. The app will display lists of Album, MediaType, and Track objects. The app will
        also enable the user to add new Track objects.
    </p>
    <p><a href="https://s3.us-east-1.amazonaws.com/learn-us-east-1-prod-fleet01-xythos/5c082fb7a0cdb/9001433?response-content-disposition=inline%3B%20filename%2A%3DUTF-8%27%27Assignment%25205.pdf&response-content-type=application%2Fpdf&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20190301T062006Z&X-Amz-SignedHeaders=host&X-Amz-Expires=21600&X-Amz-Credential=AKIAIBGJ7RCS23L3LEJQ%2F20190301%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Signature=55edfc46fc42651a437f8d93a0b9e9ec80c0c66b07c726bc8c9550fef0e635fc" target="_blank" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

